* {
    box-sizing: border-box;
}

.navigation {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 70px 0 rgba(30, 40, 52, 0.08);
    /*border: 1px solid black;*/
}

.navbar li {
    list-style: none;
}

.blog-logo {
    color: #1D2939;
    text-decoration: none;
}

.nav-link {
    color: #1D2939;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: 0.7s ease;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0;
}

.blog-logo {
    font-size: 2.5rem;
}

.sign-in-btn {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #1D2939;
    background-color: #1D2939;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.sign-in-btn:hover {
    background-color: #007bb5;
    border: 1px solid #007bb5;
}

.nav-link:hover {
    background: linear-gradient(97deg, #C41740 4.8%, #EA9C28 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.active {
    background: linear-gradient(97deg, #C41740 4.8%, #EA9C28 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1d2939;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 94px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(206, 206, 206, 0.25);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 0;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(38, 38, 38, 0.06);
        box-shadow: 0 40px 30px -30px rgba(38, 38, 38, 0.06);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        color: #1d2939;
        font-weight: bold;
        font-size: 20px;
    }
}