.all-admin {
    width:20%;
    margin: 50px 0 50px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.admin-form {
    margin-bottom: 20px;
}

.form-title,
.form-content {
    margin-bottom: 15px;
}

.all-admin label {
    display: block;
    margin-bottom: 5px;
}

.all-admin .form-title textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    resize: none;
}

.all-admin .form-content textarea {
    width: 100% !important;
    height: 350px !important;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    resize: none;
}

.form-btn {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #1D2939;
    color: #fff;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background-color: #007bb5;
}

.remove-post {
    margin-top: 20px;
}

#remove-input {
    width: 70%;
    margin-right: 10px;
}

.admin-headers {
    color: #1D2939;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

.error-msg {
    color: red;
}


