.article-section-header {
    color: #1D2939;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
}

.header-view-all {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.article-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}

@media(max-width: 768px) {
    .header-view-all {
        width: 80%;
    }
}


/*Dark Mode*/
.article-section-header.dark {
    color: #ffffff;
}