.subject {
    padding: 50px 0 50px 0;
    width: 100%;
    background: #F2F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.more-articles-block button{
    display: inline-flex;
    padding: 8px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #E4E7EC;
    background: #FFF;
    transition: border 0.3s ease;
    
}

.more-articles-block button:hover {
    border: 1px solid #a5a5a5;
    cursor: pointer;
}


/* .more-articles-block button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1D2939;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
} */

.search-label {
    font-size: 16px;
    font-weight: bold;
}

.search-input[type="text"] {
    padding-left: 10px;
}

.search-input {
    width: 240px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #9b9b9b;
    outline: none;
}

.search-input:focus {
    border: 1px solid #a4a4a4;
}

/*Dark Mode*/

.dark .subject {
    background: #121212;
}

.dark .search-label {
    color: white;
}

.dark .search-input {
    border: 1px solid #545454;
    background: #373737;
    color: white;
}

.dark .search-input::placeholder {
    color: #868686;
}

.dark .search-input:focus {
    border: 1px solid #a4a4a4;
}

.dark .more-articles-block button {
    border: 1px solid #484848;
    background: #2c2c2c;
    color: #ffffff;
}

.dark .more-articles-block button:hover {
    border: 1px solid #7d7d7d;
}

/* .dark .more-articles-block button {
    color: #ffffff;
} */